<html>
<head>
  <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
</head>
	<body>
	
	<form action="sent" method="post">
		<div>受け取りたいアドレス<input name="email_address" type="text" value="@"></div>
		<div>本文<textarea name="content" rows="15" cols="60">
In Japanese Sample Text's

サンプル文
ひこにゃん　酷似グッズ出回る　彦根市が販売中止要請
　滋賀県彦根市が著作権と商標権を持つ人気キャラクター「ひこにゃん」に酷似したキャラクターグッズが出回っているとして、市は２７日、市内の販売業者６社に販売中止の要請文書を出した。ひこにゃんを考案した作家が作った「ひこねのよいにゃんこ」で、人気上昇中だ。(毎日新聞)

</textarea></div>
		<div><input type="submit" value="メールを送る"></div>
	</form>
	
	</body>
</html>